---
- name: Initialize exporter list
  set_fact:
    exporter_list: "{{ hostvars[inventory_hostname].tags['ExporterType'].split(',') }}"

- name: Load exporter tasks
  include_tasks: "{{ item }}_exporter.yml"
  loop: "{{ exporter_list }}"
